
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Projects
            </h2>
        </div>
        <div class="body">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">Estimated End Date</th>
                    <th class="text-center">Challenging Date</th>
                    <th class="text-center">Bugs Limit</th>
                    <th class="text-center">Status</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody class="text-center">
                <% projects.forEach(function(project){%>
                <% console.log(project.users_id.length)%>
                <% for(var i = 0; i < project.users_id.length; i++) { %>
                <% if(project.users_id[i] === currentUser.id){%>
                <tr>
                    <td><%= project.name %></td>
                    <td><%= project.start_date %></td>
                    <td><%= project.estimated_end_date %></td>
                    <td><%= project.challenging_date %></td>
                    <td><%= project.challenging_bugs %></td>
                    <td><%= project.status %></td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/projects/<%= project._id%>"><i class="material-icons">zoom_in</i></a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/projects/<%= project._id%>/time_record"><i class="material-icons">watch_later</i></a>
                            </div>
                        </div>
                    </td>
                </tr>
                <%}%>
                <% } %>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</section>
