<% include ../base/_header.ejs %>
<% include ../base/_navbar.ejs %>
<% include ../base/_aside.ejs %>
<section class="content">
    <div class="container-fluid">
        <div class="block-header ">
            <h2 style="font-size: 30px">
                Project Details
            </h2>
        </div>
            <div class="row" >
                <div class="col-sm-6">
                    <p style="font-size: 18px">Name : <%= project.name %></p>
                </div>
                <div class="col-sm-6">
                    <p style="font-size: 18px">Status : <%= project.status %></p>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <p style="font-size: 18px; margin-top: 2%">Estimated End Date : <%= project.estimated_end_date%></p>
                    <p style="font-size: 18px; margin-top: 4.5%">Real End Date : <%= project.real_end_date%></p>
                    <p style="font-size: 18px; margin-top: 4.5%">Challenging Date : <%= project.challenging_date%></p>
                    <p style="font-size: 18px; margin-top: 4.5%">Challenging Bugs : <%= project.challenging_bugs %></p>
                </div>
                <div class="col-sm-6">
                    <p style="font-size: 18px; margin-top: 2%">Activities</p>
                    <% for(var i = 0; i < project.activities.length; i++){%>
                        <p style="font-size: 18px">* <%= project.activities[i] %></p>
                    <%}%>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 text-center">
                    <a class="btn btn-info" href="/projects">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../base/_footer.ejs %>