<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Dashboard
            </h2>
        </div>

        <% for (var i = 0; i < projects.length; i++){ %>
        <% if (projects[i].users_id == null ){ %>
        <% }else{ %>
        <% for (var j = 0; j < projects[i].users_id.length; j++){ %>
        <% if(projects[i].users_id[j] == currentUser._id){ %>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div style="height: auto" class="info-box-4 bg-light-blue hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons">access_alarm</i>
                </div>
                <div class="content">
                    <div class="text" style="font-size: 20px"><%= projects[i].name %></div>
                    <% var sumHours = [];
                        var hours = 0;
                        var sumMinutes = [];
                        var minutes = 0;
                    %>
                    <% for (var l = 0; l < time_record.length; l++ ){ %>
                    <% if (time_record[l].project_id == projects[i].id && currentUser.id == time_record[l].user_id){ %>
                    <% sumHours.push(time_record[l].hours); hours = hours + time_record[l].hours;
                        sumMinutes.push(time_record[l].minutes); minutes = minutes + time_record[l].minutes;
                    %>

                    <% } %>
                    <% } %>
                    <div class="number">Hours :
                        <% var countHours = "" + hours + "";
                        if (countHours.length == 1){
                        %>
                        0<%= hours %>:
                        <% var countMinutes = "" + minutes + "";
                        if (countMinutes.length == 1){ %>
                        0<%= minutes %>
                        <% }else{ %>
                        <%= minutes %>
                        <% } %>
                        <% }else { %>
                        <%= hours %>:
                        <% if (countMinutes.length == 1){ %>
                        0<%= minutes %>
                        <% }else{ %>
                        <%= minutes %>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
    </div>
</section>