<div class="table-responsive">
    <table class="text-center">
        <thead>
        <tr class="text-center">
            <th class="text-center" style="width: 8%">Name</th>
            <th class="text-center" style="width: 10%">Biography</th>
            <th class="text-center" style="width: 8%">Role</th>
            <th class="text-center" style="width: 10%">Email</th>
            <th class="text-center" style="width: 5%"></th>
            <th class="text-center" style="width: 5%"></th>

        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user) { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.bio %></td>
            <td><%= user.rol %></td>
            <td><%= user.email %></td>
            <td>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" data-href="/admin/users/<%= user._id%>/destroy" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span></a><br>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-sm-6">
                    <a href="/admin/users/<%= user._id %>/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>