<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Clients
                <button type="button" data-toggle="modal" data-target="#myModal"
                        class="btn bg-blue-grey btn-circle waves-effect waves-circle waves-float">
                    <i class="material-icons">add</i>
                </button>
            </h2>
        </div>
        <div class="body">
            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                <thead>
                <tr>
                    <th class="text-center">Company Name</th>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">WebSite</th>
                    <th class="text-center">Status</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <% clients.forEach(function(client) { %>
                <tr>
                    <td><%= client.company_name %></td>
                    <td><%= client.contact_name %></td>
                    <td><%= client.email %></td>
                    <td><%= client.website %></td>
                    <td><%= client.status %></td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/admin/clients/<%= client._id %>/edit"><i class="material-icons">create</i></a>
                            </div>
                        </div>

                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>

        </div>
    </div>
</section>