<div class="table-responsive">
    <table >
        <thead>
        <tr >
            <th class="text-center" style="width: 10%">Name</th>
            <th class="text-center" style="width: 10%">Start Date</th>
            <th class="text-center" style="width: 10%">Estimated End Date</th>
            <th class="text-center" style="width: 10%">Challenging Date</th>
            <th class="text-center" style="width: 5%">Bugs Limit</th>
            <th class="text-center" style="width: 10%">Status</th>
            <th class="text-center" style="width: 5%"></th>
            <th class="text-center" style="width: 5%"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        <% projects.forEach(function(project) { %>
        <tr>
            <td><%= project.name %></td>
            <td><%= project.start_date %></td>
            <td><%= project.estimated_end_date %></td>
            <td><%= project.challenging_date %></td>
            <td><%= project.challenging_bugs %></td>
            <td><%= project.status %></td>
            <td>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/admin/projects/<%= project._id%>/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/admin/projects/<%= project._id%>/time_record"><span class="glyphicon glyphicon-calendar"></span></a>
                    </div>
                </div>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>