<% include ../../base/_header.ejs %>
<% include ../../base/_navbar.ejs %>
<% include ../../base/_aside.ejs %>
<script>
    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) {
                x++;
                $(wrapper).append('<div class="col-sm-12"><input type="text" class="form-control" name="activities" required/><a href="#" class="remove_field">Delete</a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })

    });

</script>
<br>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Edit Project <%= project.name %>
            </h2>
        </div>

        <form action="/admin/projects/<%= project._id %>" style="margin-top: 5%" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Name</label>
                            <input style="background-color: transparent" type="text" class="form-control" name="name"
                                   value="<%= project.name %>" required>
                            <input type="text" hidden name="client_id" value="<%= project.client_id %>" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Status</label><br>
                        <select class="selectpicker" name="status" required>
                            <% if(project.status == true){ %>
                            <option value="true" selected>Active</option>
                            <option value="false">Inactive</option>
                            <% }else{ %>
                            <option value="true">Active</option>
                            <option value="false" selected>Inactive</option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Start Date</label>
                            <input style="background-color: transparent" type="date" class="form-control"
                                   name="start_date" value="<%= project.start_date %>" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Estimated End Date</label>
                            <input style="background-color: transparent" type="date" class="form-control"
                                   name="estimated_end_date" value="<%= project.estimated_end_date %>" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Real End Date</label>
                            <input style="background-color: transparent" type="date" class="form-control"
                                   id="real_end_date" name="real_end_date" value="<%= project.real_end_date %>"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Challenging Date</label>
                            <input style="background-color: transparent" type="date" class="form-control"
                                   name="challenging_date" value="<%= project.challenging_date %>" id="challenging_date"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Estimated Hours</label>
                            <input style="background-color: transparent" type="number" min="0" class="form-control"
                                   name="estimated_hours" value="<%= project.estimated_hours %>" id="estimated_hours">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Challenging Bugs</label>
                            <input style="background-color: transparent" type="number" min="0" class="form-control"
                                   name="challenging_bugs" value="<%= project.challenging_bugs %>"
                                   id="challenging_bugs">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label>Trello Board Id</label>
                            <input style="background-color: transparent" type="text" class="form-control"
                                   name="trello_board_id" value="<%= project.trello_board_id %>" id="trello_board_id">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-float text-center input_fields_wrap">
                        <label>Activities</label>
                        <% if (project.activities === null) { %>
                        <input style="background-color: transparent" type="text" class="form-control" name="activities"
                               required>
                        <a href="#" class="add_field_button">Add More</a>
                        <% } else { %>
                        <% for(var i = 0; i < project.activities.length; i++) { %>
                        <input style="background-color: transparent" type="text" class="form-control" name="activities"
                               id='elemento+[i]' value="<%= project.activities[i] %>"> <a href="#" class="remove_field">Delete</a>
                        <% } %>
                        <br>
                        <a href="#" class="add_field_button">Add More</a>
                        <% } %>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group text-center">
                        <label>Users</label>
                        <div class="row">
                            <% if (user != null) { %>
                            <% for(var j = 0; j < user.length; j++) { %>
                            <% for (var k = 0; k < project.users_id.length; k++){ %>
                            <% if(user[j]._id == project.users_id[k]){ %>
                            <div class="col-sm-6">
                                <input type="checkbox" name="users_id" id="basic_checkbox_[j]" checked value="<%= user[j]._id %>" data-group-cls="btn-group-sm m-b">
                                <label for="basic_checkbox_[j]"><%= user[j].email %></label>
                            </div>
                            <% } %>
                            <% } %>
                            <% } %>
                            <% for (var m = 0; m < user.length; m++){ %>
                            <% if(user[m]._id != project.users_id[m]){ %>
                            <div class="col-sm-6">
                                <input type="checkbox" name="users_id" id="basic_checkbox[m]" value="<%= user[m]._id %>">
                                <label for="basic_checkbox[m]"><%= user[m].email %></label>
                            </div>
                            <%}%>
                            <%}%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 text-center">
                    <a class="btn btn-info" href="/admin/projects">Back</a>
                </div>
                <div class="col-sm-6 text-center">
                    <input type="hidden" value="PUT" name="_method">
                    <button type="submit" onclick="validateEmpty()" class="btn btn-info ">Update</button>
                </div>
            </div>
        </form>
    </div>
</section>

<% include ../../base/_footer.ejs %>