<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Coworkers
            </h2>
        </div>
        <div class="body">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                <tr class="text-center">
                    <th class="text-center" >Name</th>
                    <th class="text-center" >Biography</th>
                    <th class="text-center" >Role</th>
                    <th class="text-center" >Email</th>
                    <th class="text-center" ></th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user) { %>
                <%if(user.rol != 'admin'){%>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.bio %></td>
                    <td><%= user.rol %></td>
                    <td><%= user.email %></td>
                    <td>
                        <div class="col-sm-6">
                            <a href="/coworker/<%= user._id %>"><i class="material-icons">zoom_in</i></a>
                        </div>
                    </td>
                </tr>
                <% }}) %>
                </tbody>
            </table>
        </div>
    </div>
</section>