<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Time Record
                <button type="button" data-toggle="modal" data-target="#myModal"
                        class="btn bg-blue-grey btn-circle waves-effect waves-circle waves-float">
                    <i class="material-icons">add</i>
                </button>
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Project Name</th>
                            <th class="text-center">Time (hh:mm)</th>
                            <th class="text-center">Activity</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <% time_record.forEach(function (timerecord) { %>
                        <% if(timerecord.user_id == currentUser.id && timerecord.project_id == project.id){ %>
                        <tr>
                            <td><%= timerecord.date %></td>
                            <td><%= project.name %></td>
                            <td>
                                <% if(timerecord.minutes > 60){ %>
                                0<%= timerecord.hours + 1 %>:00
                                <% }else{ %>
                                0<%= timerecord.hours %>:<% var minutes = "" +timerecord.minutes+ ""; if(minutes.length == 1){ %>
                                    0<%=timerecord.minutes %>
                                <%}else{%>
                                <%= timerecord.minutes %>
                                <% } %>
                                <%}%>
                            </td>
                            <td><%= timerecord.activity %></td>

                        </tr>
                        <% } %>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>



